@page "/persondetail/{personId}/{partitionKey}"
@inject IMyHobbyPalClient MyHobbyPalClient

<h3>PersonDetail</h3>

@if (Person == null)
{
    <h5>Loading...</h5>
}
else
{
    <a href="@($"editperson/{Person.PersonId}/{Person.PartitionKey}")" class="btn btn-primary">Edit Person</a>
    <a href="@($"addhobby/{Person.PersonId}/{Person.PartitionKey}")" class="btn btn-primary">Add Hobby</a>
    <h5>GivenName: @Person.GivenName</h5>
    <h5>FamilyName: @Person.FamilyName</h5>
    <h5>Phone Numbers:</h5>

    @foreach (var n in Person.PhoneNumbers)
    {
        <h5> @n.ToString()</h5>
    }

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Hobby Name</th>
                <th>Difficulty</th>
                <th>Years Practiced</th>
                <th>Expertise Achieved</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var h in Person.Hobbies)
            {
            <tr>
                <td>
                    <a href="@($"edithobby/{Person.PersonId}/{Person.PartitionKey}/{h.Hobby.HobbyId}/{h.PersonHobbyId}/{h.Hobby.Name}/{h.Hobby.Difficulty}/{h.YearsPracticed}/{h.ExpertiseAchieved}")" class="btn btn-primary">Edit Hobby</a>
                    <i class="fas fa-info=circle"></i>
                </td>
                <td>@h.Hobby.Name</td>
                <td>@h.Hobby.Difficulty</td>
                <td>@h.YearsPracticed</td>
                <td>@h.ExpertiseAchieved</td>
            </tr>

            }
        </tbody>
    </table>

}

@code {

    [Parameter]
    public string PersonId { get; set; }
    [Parameter]
    public string PartitionKey { get; set; }

    public IPersonType1 Person { get; set; }



    protected override async Task OnInitializedAsync()
    {

        var result = await MyHobbyPalClient.GetPersonByIdAsync(PersonId, PartitionKey);
        result.EnsureNoErrors();
        Person = result.Data!.Person.ToList<IPersonType1>().FirstOrDefault();

    }
}
