@page "/personlist"
@inject HttpClient Http
@inject IMyHobbyPalClient MyHobbyPalClient
@using MyHobbyPal.Client

<h3>Person list</h3>

<h4>Search Person:</h4>
<EditForm Model="@Input" OnSubmit="Search">
    <div class="form-group row">
        <label for="givenName" class="col-sm-3">Given Name:</label>
        <InputText id="givenName" class="form-control col-sm-8" @bind-Value="Input.GivenName" placeholder="Enter Given Name"></InputText>
    </div>
    <div class="form-group row">
        <label for="familyName" class="col-sm-3">Family Name:</label>
        <InputText id="familyName" class="form-control col-sm-8" @bind-Value="Input.FamilyName" placeholder="Enter Family Name"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>PersonId</th>
            <th>PartitionKey</th>
            <th>GivenName</th>
            <th>FamilyName</th>
            <th>PhoneNumbers</th>
        </tr>
    </thead>
    <tbody>
        @if (persons.Count > 0)
        {
            @foreach (var person in persons)
            {
                <tr>
                    <td>
                        <a href="@($"persondetail/{person.PersonId}/{person.PartitionKey}")" class="btn btn-primary">Detail</a>
                        <i class="fas fa-info=circle"></i>
                    </td>
                    <td>@person.PersonId</td>
                    <td>@person.PartitionKey</td>
                    <td>@person.GivenName</td>
                    <td>@person.FamilyName</td>
                    @foreach (var n in person.PhoneNumbers)
                    {
                        <td>@n.ToString()</td>
                    }

                </tr>
            }
        }
        else
        {
            <h5>Loading...</h5>
        }

    </tbody>
</table>


@code {
    public SearchInput Input { get; set; } = new SearchInput();

    private IList<IPersonDetail> persons = new List<IPersonDetail>();

    protected override async Task OnInitializedAsync()
    {
        var result = await MyHobbyPalClient.GetAllPersonsAsync();
        result.EnsureNoErrors();

        persons = result.Data!.Persons.Nodes.ToList<IPersonDetail>();
        StateHasChanged();
    }

    protected async Task Search()
    {
        if(string.IsNullOrEmpty(Input.FamilyName)&& string.IsNullOrEmpty(Input.FamilyName))
        {
            await OnInitializedAsync();
        }
        else
        {
            var result = await MyHobbyPalClient.GetPersonByNameAsync(Input.GivenName, Input.FamilyName);
            result.EnsureNoErrors();

            persons = result.Data!.Person.ToList<IPersonDetail>();
            StateHasChanged();
        }

    }

    public class SearchInput
    {
        public string GivenName { get; set; } = string.Empty;
        public string FamilyName { get; set; } = string.Empty;
    }
}
